@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&display=swap');
*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    text-decoration: none;
}

html{
    font-size: 50%;
    overflow-x: hidden;
 }

body{
    min-height: 100vh;
    background: #2c2f48;
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    flex-direction: column;
}
/*Header */
header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    padding: 20px 7%;
    display: flex;
    justify-content: space-between;
    z-index: 1000;
}

.logo img{
   width: 100px; /* Thay đổi kích thước theo mong muốn */
   height: auto; /* Để giữ tỷ lệ khung hình ban đầu */
   
}


header .navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header .navbar ul li {
    position: relative;
    float: left;
}

header .navbar ul li a {
    font-size: 20px;
    padding: 20px;
    color: black;
    display: block;
    text-decoration: none;
}

header .navbar ul li a:hover {
    background: #333;
    color: #fff;
}

header .navbar ul li ul {
    position: absolute;
    left: 0;
    width: 200px;
    background: white;
    display: none;
}

header .navbar ul li ul li ul {
    left: 200px;
    top: 0;
}

header .navbar ul li ul li {
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

header .navbar ul li:hover > ul {
    display: initial;
}


.Icon {
    display: flex;
    align-items: center; /* Căn giữa theo chiều dọc */

}

.Icon a {
    margin-right: 20px; /* Khoảng cách giữa các liên kết */
}
.Icon img {
    width: auto; /* Chiều rộng mong muốn của hình ảnh */
    height: 25px; /* Chiều cao mong muốn của hình ảnh */
}


/* Sản phẩm-menu */

/* Chọn phần tử div có lớp "menu" */
.lienhe {
    background-color: white; /* Màu nền */
  }
  
  /* Chọn phần tử img có ID "anhbaner" bên trong phần tử div có lớp "menu" */
  #anhbaner {
    max-width: 100%; /* Đảm bảo ảnh không vượt quá kích thước của div */
    height: auto; /* Đảm bảo tỷ lệ khung hình bảo toàn */
  }

  h2{
    padding:.5rem 0;
    font-size: 30px;
    color:wheat;
    text-align: center;
  }
.contact-container{
    max-width: 960px;
    margin: auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;
    background: #363953;
    box-shadow: 0 0 1rem hsla(0 0 0 / 16%);
    border-radius: 0.5rem;
    overflow: hidden; 
}
.form-container{
    padding: 20px;
}
.form-container h3{
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 1rem;
}
.contact-form{
    display: grid;
    row-gap: 2rem;
}
.contact-form input,
.contact-form textarea{
    width: 100%;
    border: none;
    outline: none;
    background: #2c2f48;
    padding: 10px;
    font-size: 0.9rem;
    color: #fff;
    border-radius: 0.4rem;

}
.contact-form textarea{
    resize: none;
    height: 200px;
}
.contact-form .send-button{
    border: none;
    outline: none;
    background: #00dbde;
    font-size: 2rem;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
}
.contact-form .send-button:hover{
    background: hsl(181,100%,44%,0.8);
    transition: 0.3s all linear;
}
.map iframe{
    width: 100%;
    height: 100%;
}





/* Footer */
.footer {
    background-color: #040a18;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px 50px 60px 50px;
    margin-top: 80px;
}

.footer .footer-left,
.footer .footer-center,
.footer .footer-right {
    display: inline-block;
    vertical-align: top;
}

@media (max-height:800px) {
    footer {
        position: static;
    }

    header {
        padding-top: 40px;
    }
}

.footer .footer-left {
    width: 30%;
}

.footer h3 {
    color: #f5f5f5;
    margin: 0;
    padding-bottom: 20px;
    font-family: Georgia, 'Time New Roman', Times, serif;
}

.footer .footer-left img {
    width: 25%;
    vertical-align: middle;
}

.footer .footer-left .credit-cards {
    width: 100%;
}

.footer .footer-copyright {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
    padding-top: 10%;
}

.footer .footer-center {
    width: 35%;
}

.footer .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0px;
}

.footer .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer .footer-center p a {
    color: rgb(22, 255, 177);
    text-decoration: none;
}

.footer .footer-right {
    width: 30%;
}

.footer .footer-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0px;
}

.footer .footer-about span {
    display: block;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer .footer-media {
    margin-top: 25px;
}

.footer .footer-media a {
    display: inline-block;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 50%;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 50px;
    margin-right: 3px;
    margin-bottom: 5px;
}

.footer .footer-media a:hover {
    background-color: rgb(0, 122, 82);
}

 